<% layout('layouts/mentorBoilerplate') %>


    <h4>Welcome, <%=mentor.name%>
    </h4>
    <hr>
    <div class="row">
        <div class="col-6">
            <div class="card shadow-sm p-2 mb-3 bg-body rounded">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/3771089/pexels-photo-3771089.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= mentor.name %>
                    </h5>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        Department: <%= mentor.department %>
                    </li>
                    <li class="list-group-item text-muted">
                        Email: <%= mentor.email%>
                    </li>

                </ul>
                <div class="card-body">
                    <a href="" class="card-link btn btn-warning">Edit</a>
                </div>
            </div>
        </div>

    </div>
