<% layout('layouts/loginBoiler') %>

    <div class="container">
        <div class="row">
            <div class="mx-auto col-10 col-md-8 col-lg-6">
                <form action="/mentorship/regAdmin" method="POST" class="validated-form" novalidate>
                    <div class="mb-3">
                        <label for="adminName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="adminName" name="admin[name]" required>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="adminEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="admin[email]" id="adminEmail"
                            aria-describedby="emailHelp" required>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="adminPass" class="form-label">Password</label>
                        <input type="password" class="form-control" name="admin[password]" id="adminPass" required>
                    </div>
                    <div class="valid-feedback">Looks Good!</div>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a href="/mentorship/login" class="btn btn-primary">Login</a>
                </form>
            </div>
        </div>
    </div>
