<!-- Sidebar -->
<div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                        class="fas fa-user-secret me-2"></i>MentorShip</div>
        <div class="list-group list-group-flush my-3">
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><img
                                class="m-2" width="30" height="30"
                                src="https://img.icons8.com/carbon-copy/100/bulleted-list--v2.png"
                                alt="bulleted-list--v2" />Details</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><img
                                class="m-2" width="30" height="30" src="https://img.icons8.com/ios/50/teacher.png"
                                alt="teacher" />Mentors</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><img
                                class="m-2" width="30" height="30"
                                src="https://img.icons8.com/wired/64/student-male.png" alt="student-male" />Students</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><img
                                class="m-2" width="30" height="30" src="https://img.icons8.com/ios/50/add--v1.png"
                                alt="add--v1" />Add Semester</a>
        </div>
</div>
