.nav-pills li a:hover {
    background-color: rgb(66, 66, 243);
}

.nav-pills li a {
    transition: background-color 200ms ease-in-out;
}

.sidenav {
    position: fixed;
}

@media screen and (max-width: 550px) {

    .card-title,
    .card-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 387px) {

    .card-title,
    .card-text {
        font-size: 0.7rem;
    }

}

@media screen and (max-width: 413px) {

    .card-body .card-link {
        font-size: 10px;
    }

    .card-body .btn {
        font-size: 10px;
    }
}

@media screen and (min-width: 1482px) {

    .head {

        font-size: 1.3em;
        font-weight: 600;
    }

    .card-body .card-title {

        font-size: 1.3em;
        font-weight: 600;
    }

    .card-body .card-text {

        font-size: 0.9em;

    }
}

@media screen and (max-width: 1482px) {

    #dashName {

        font-size: 1em;
    }

    .head {

        font-size: 1.3em;
        font-weight: 600;
    }

    .card-body .card-text {

        font-size: 1.0em;

    }

    .card .btn {
        font-size: 0.7em;
    }

    .card-body .card-title {

        font-size: 1.2em;
        font-weight: 600;
    }

    .subject h2 {
        font-size: 1.2em;
    }

    #subTitle {
        font-size: 1em;
    }

    #subCode {
        font-size: 0.8em;
    }

    #courseDetails {
        font-size: 0.7em;
    }


}

@media screen and (max-width: 1280px) {
    .card .btn {
        font-size: 0.5em;
    }

    .card-body .card-title {

        font-size: 1.2em;
    }

}

@media screen and (max-width: 1136px) {
    .card .btn {
        font-size: 0.6em;
    }

    .card-body .card-title {

        font-size: 1.0em;
    }

}

@media screen and (max-width: 1136px) {
    .card .btn {
        font-size: 0.4em;
    }

    .card-body .card-title {

        font-size: 1.0em;
    }

}

@media screen and (min-width: 995px) {
    .menteeHead h2 {
        font-size: 1.5em;
    }

}
